<table border="1" style="border-collapse: collapse; width: 100%;">
    <tr>
        <td colspan="4" style="background-color: #d9e1f2; font-weight: bold; padding: 5px;">Principales actividades desarrolladas:</td>
    </tr>
    <tr>
        <td colspan="4" style="padding: 5px;">{{ actividadesDesarrolladas }}</td>
    </tr>
    <tr>
        <td colspan="4" style="background-color: #d9e1f2; font-weight: bold; padding: 5px;">Habilidades, destrezas o conocimientos adquiridos durante la realización de las prácticas:</td>
    </tr>
    <tr>
        <td colspan="4" style="padding: 5px;">{{ habilidadesAdquiridas }}</td>
    </tr>
    <tr>
        <td colspan="4" style="background-color: #d9e1f2; font-weight: bold; padding: 5px;">¿El tutor académico de prácticas preprofesionales de la EPN realizó el seguimiento de la práctica preprofesional?:</td>
    </tr>
    <tr>
        <td colspan="1" style="padding: 5px;">SI</td>
        <td colspan="1" style="text-align: center; padding: 5px;">{{ seguimientoAcademicoSi }}</td>
        <td colspan="1" style="padding: 5px;">NO</td>
        <td colspan="1" style="padding: 5px;">{{ seguimientoAcademicoNo }}</td>
    </tr>
    <tr>
        <td colspan="1" style="background-color: #d9e1f2; font-weight: bold; padding: 5px;">Observaciones:</td>
        <td colspan="3" style="padding: 5px;">{{ observacionesGenerales }}</td>
    </tr>
</table>