<table border="1" style="border-collapse: collapse; width: 100%; margin-top: 10px;">
  <tr>
      <td colspan="4" style="background-color: #d9e1f2; font-weight: bold; padding: 5px;">3. RESPONSABILIDAD DE LA INFORMACIÓN Y CONSENTIMIENTO DE TRATAMIENTO DE DATOS</td>
  </tr>
  <tr>
      <td colspan="4" style="padding: 5px; text-align: justify;">
          Yo, <span style="font-weight: bold;">{{ name }}</span>, con documento de identidad No. <span style="font-weight: bold;">{{ dni }}</span>
          declaro bajo juramento que la información de este formulario, así como la documentación adjunta al presente es veraz, legítima y auténtica. 
          Autorizo a la Escuela Politécnica Nacional para que pueda hacer uso de la información de este formulario, así como de la documentación adjunta 
          para el análisis de la presente solicitud. Así también, autorizo a la Escuela Politécnica Nacional valide y verifique documentalmente en cualquier 
          momento la información y documentación proporcionada por mi persona. <br>
          Tengo conocimiento que la Escuela Politécnica Nacional se reserva el derecho de iniciar las acciones administrativas a las que hubiere lugar para 
          comprobar la veracidad, legitimidad y autenticidad de la información y documentación presentada, en caso de identificar lo contrario, se procederá a 
          archivar el trámite sin perjuicio del inicio de los procesos o la aplicación de las sanciones que se puedan ejecutar en el marco del Código Orgánico 
          Integral Penal (Art. 328, Art. 328.1), de la Ley Orgánica para La Optimización y Eficiencia de Trámites Administrativos (Art. 3 y Art. 10), de la Ley 
          Orgánica de Educación Superior (Art. 207), así como del Reglamento de Disciplina y Sanciones de la Institución.
      </td>
  </tr>
</table>