<table border="1" data-pdfmake="{&quot;widths&quot;:[120,&quot;*&quot;,&quot;*&quot;,&quot;*&quot;,&quot;*&quot;,&quot;*&quot;]}" style="border-collapse: collapse;  margin-top: 10px;">
  <tr>
      <td colspan="6" style="background-color: #d9e1f2; font-weight: bold; padding: 5px;">1. DATOS DE LA ENTIDAD RECEPTORA</td>
  </tr>
  <tr>
      <td style="font-weight: bold; padding: 5px;">Razón Social:</td>
      <td colspan="5" style="padding: 5px;">{{ razonSocial }}</td>
  </tr>
  <tr>
      <td style="font-weight: bold; padding: 5px;">RUC:</td>
      <td colspan="5" style="padding: 5px;">{{ ruc }}</td>
  </tr>
  <tr>
      <td style="font-weight: bold; padding: 5px;">Dirección:</td>
      <td colspan="5" style="padding: 5px;">{{ direccion }}</td>
  </tr>
  <tr>
      <td style="font-weight: bold; padding: 5px;">Correo Electrónico:</td>
      <td colspan="5" style="padding: 5px;">{{ email }}</td>
  </tr>
  <tr>
      <td style="font-weight: bold; padding: 5px;">Ciudad:</td>
      <td style="padding: 5px;">{{ ciudad }}</td>
      <td style="font-weight: bold; padding: 5px;">Teléfono:</td>
      <td style="padding: 5px;">{{ telefono }}</td>
      <td style="font-weight: bold; padding: 5px;">Celular:</td>
      <td style="padding: 5px;">{{ celular }}</td>
  </tr>
  <tr>
      <td colspan="3" style="font-weight: bold; padding: 5px;">Tipo de Entidad Receptora:</td>
      <td colspan="3" style="padding: 5px;">{{ tipoInstitucion }}</td>
  </tr>
  <tr>
      <td colspan="3" style="font-weight: bold; padding: 5px;">Responsable de la Entidad Receptora:</td>
      <td colspan="3" style="padding: 5px;">{{ responsable }}</td>
  </tr>
</table>
