<table border="1" style="border-collapse: collapse; width: 100%; margin-top: 1px;"
  data-pdfmake="{&quot;widths&quot;:[&quot;*&quot;,&quot;*&quot;,&quot;*&quot;,&quot;*&quot;,&quot;*&quot;,&quot;auto&quot;,&quot;*&quot;,&quot;*&quot;]}"
>
  <tr>
      <td colspan="8" style="background-color: #d9e1f2; font-weight: bold; padding: 5px;">5. INFORMACIÓN SOBRE LAS ACTIVIDADES REALIZADAS POR EL ESTUDIANTE</td>
  </tr>
  <tr>
      <td colspan="8" style="padding: 5px; text-align: left; font-size: 12px;">ESTA INFORMACIÓN DEBE SER LLENADA POR UN FUNCIONARIO DE LA ENTIDAD RECEPTORA</td>
  </tr>
  <tr>
      <td colspan="1" style="font-weight: bold; padding: 5px;">Área asignada:</td>
      <td colspan="7" style="padding: 5px;">{{ areaAsignada }}</td>
  </tr>
  <tr>
      <td colspan="8" style="font-weight: bold; padding: 5px; text-align: center;">Horario semanal</td>
  </tr>
  <tr>
      <td colspan="2" style="font-weight: bold; padding: 5px;">Reporte</td>
      <td style="font-weight: bold; padding: 5px;">Inicio:</td>
      <td colspan="2" style="padding: 5px;">{{ fechaInicio }}</td>
      <td style="font-weight: bold; padding: 5px;">Terminación:</td>
      <td colspan="2" style="padding: 5px;">{{ fechaFin }}</td>
  </tr>
  <tr>
      <td style="padding: 5px;"></td>
      <td style="padding: 5px; text-align: center;">Lunes</td>
      <td style="padding: 5px; text-align: center;">Martes</td>
      <td style="padding: 5px; text-align: center;">Miércoles</td>
      <td style="padding: 5px; text-align: center;">Jueves</td>
      <td style="padding: 5px; text-align: center;">Viernes</td>
      <td style="padding: 5px; text-align: center;">Sábado</td>
      <td style="padding: 5px; text-align: center;">Domingo</td>
  </tr>
  <tr>
      <td style="font-weight: bold; padding: 5px;">Inicio</td>
      <td style="padding: 5px; text-align: center;">{{ lunesInicio }}</td>
      <td style="padding: 5px; text-align: center;">{{ martesInicio }}</td>
      <td style="padding: 5px; text-align: center;">{{ miercolesInicio }}</td>
      <td style="padding: 5px; text-align: center;">{{ juevesInicio }}</td>
      <td style="padding: 5px; text-align: center;">{{ viernesInicio }}</td>
      <td style="padding: 5px; text-align: center;">{{ sabadoInicio }}</td>
      <td style="padding: 5px; text-align: center;">{{ domingoInicio }}</td>
  </tr>
  <tr>
      <td style="font-weight: bold; padding: 5px;">Fin</td>
      <td style="padding: 5px; text-align: center;">{{ lunesFin }}</td>
      <td style="padding: 5px; text-align: center;">{{ martesFin }}</td>
      <td style="padding: 5px; text-align: center;">{{ miercolesFin }}</td>
      <td style="padding: 5px; text-align: center;">{{ juevesFin }}</td>
      <td style="padding: 5px; text-align: center;">{{ viernesFin }}</td>
      <td style="padding: 5px; text-align: center;">{{ sabadoFin }}</td>
      <td style="padding: 5px; text-align: center;">{{ domingoFin }}</td>
  </tr>
</table>
<table border="1" style="border-collapse: collapse; width: 100%; margin-top: 1px;"
  data-pdfmake="{&quot;widths&quot;:[160,&quot;auto&quot;,&quot;*&quot;,&quot;auto&quot;,&quot;*&quot;,&quot;auto&quot;,&quot;auto&quot;,&quot;auto&quot;]}"
>
  <tr>
    <td colspan="1" style="font-weight: bold; padding: 5px;">Hora Inicio Almuerzo</td>
    <td colspan="3" style="padding: 5px;">{{ almuerzoInicio }}</td>
    <td colspan="1" style="font-weight: bold; padding: 5px;">Hora Fin Almuerzo</td>
    <td colspan="3" style="padding: 5px;">{{ almuerzoFin }}</td>
  </tr>
  <tr>
    <td colspan="1" style="font-weight: bold; padding: 5px;">TOTAL HORAS SEMANALES</td>
    <td colspan="7" style="padding: 5px;">{{ totalSemanal }}</td>
  </tr>
  <tr>
      <td colspan="1" style="font-weight: bold; padding: 5px;">Observaciones:</td>
      <td colspan="7" style="padding: 5px;">{{ observaciones }}</td>
  </tr>
  <tr>
      <td colspan="1" style="font-weight: bold; padding: 5px;">Número total de horas de prácticas:</td>
      <td colspan="7" style="padding: 5px;">{{ totalPasantia }}</td>
  </tr>
  <tr>
      <td colspan="1" style="font-weight: bold; padding: 5px;">Pasantías pagadas</td>
      <td colspan="1" style="text-align: center; font-weight: bold; padding: 5px;">SI</td>
      <td colspan="1" style="text-align: center; padding: 5px;">{{ pasantiasPagadasSi }}</td>
      <td colspan="1" style="text-align: center; font-weight: bold; padding: 5px;">NO</td>
      <td colspan="1" style="text-align: center; padding: 5px;">{{ pasantiasPagadasNo }}</td>
      <td colspan="2" style="font-weight: bold; padding: 5px;">VALOR MENSUAL CANCELADO</td>
      <td colspan="1" style="padding: 5px;">{{ pasantiasPagadasMonto }}</td>
  </tr>
</table>